In [ ]:
import ast
import sklearn as sk
import numpy as np
import pandas as pd
import csv
import time

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/Datasets/small_dataset.csv')

In [ ]:
movies.head(10)

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 256377, 'name': 'The Muppet Collection'...",0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",10874,tt0117110,en,Muppet Treasure Island,After telling the story of Flint's last journe...,6.902423,...,16-02-1996,34327391.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Set sail for Muppet mayhem!,Muppet Treasure Island,False,6.5,93.0
1,FALSE,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",89333,tt0112646,en,Catwalk,A documentary following Christy Turlington and...,0.976707,...,08-12-1995,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The moment when fashion, art and entertainment...",Catwalk,False,7.0,2.0
2,FALSE,NaN,0,"[{'id': 80, 'name': 'Crime'}]",96357,tt0113276,en,Headless Body in Topless Bar,An ex-con holds a group of people hostage in a...,0.001346,...,20-05-1995,0.0,110.0,[],Released,NaN,Headless Body in Topless Bar,False,0.0,0.0
3,FALSE,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",197,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.755149,...,24-05-1995,210000000.0,177.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Every man dies. Not every man truly lives.,Braveheart,False,7.7,3404.0
4,FALSE,NaN,1300000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",103,tt0075314,en,Taxi Driver,A mentally unstable Vietnam War veteran works ...,14.092713,...,07-02-1976,28262574.0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"On every street in every city, there's a nobod...",Taxi Driver,False,8.1,2632.0
5,FALSE,NaN,7500000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",33542,tt0113326,cn,ç´…ç•ªå€,Keong comes from Hong Kong to visit New York f...,12.314278,...,30-01-1995,32392047.0,91.0,"[{'iso_639_1': 'cn', 'name': 'å¹¿å·žè¯ / å»£å...",Released,No Fear. No Stuntman. No Equal.,Rumble in the Bronx,False,6.5,245.0
6,FALSE,NaN,35000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",43566,tt0115645,en,Before and After,Two parents deal with the effects when their s...,2.938293,...,23-02-1996,0.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A murder. A suspect. A shadow of a doubt.,Before and After,False,5.8,37.0
7,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}]",71754,tt0113774,en,Margaret's Museum,In a town where half the men die down the coal...,0.372697,...,13-09-1995,0.0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She found a way to preserve her memories forever.,Margaret's Museum,False,7.5,2.0
8,FALSE,NaN,13365000,"[{'id': 35, 'name': 'Comedy'}]",43612,tt0112556,en,Le Bonheur est dans le prÃ©,"Francis, the boss of a small plumbing supply c...",1.254885,...,31-01-1995,0.0,106.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]",Released,NaN,Happiness Is in the Field,False,7.0,23.0
9,FALSE,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 18,...",51352,tt0112373,en,Anne Frank Remembered,Using previously unreleased archival material ...,0.243986,...,08-06-1995,1.0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"She is perhaps Hitler's best known victim, but...",Anne Frank Remembered,False,7.3,4.0

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  9999 non-null   object
 1   belongs_to_collection  1198 non-null   object
 2   budget                 9999 non-null   object
 3   genres                 9999 non-null   object
 4   id                     9999 non-null   object
 5   imdb_id                9994 non-null   object
 6   original_language      9995 non-null   object
 7   original_title         9999 non-null   object
 8   overview               9838 non-null   object
 9   popularity             9997 non-null   float64
 10  poster_path            9901 non-null   object
 11  production_companies   9998 non-null   object
 12  production_countries   9998 non-null   object
 13  release_date           9973 non-null   object
 14  revenue                9997 non-null   float64
 15  runtime                9946 non-null   float64
 16  spoken_languages       9997 non-null   object
 17  status                 9975 non-null   object
 18  tagline                5259 non-null   object
 19  title                  9997 non-null   object
 20  video                  9997 non-null   object
 21  vote_average           9997 non-null   float64
 22  vote_count             9997 non-null   float64
dtypes: float64(5), object(18)
memory usage: 1.8+ MB

In [ ]:
movies['original_language'].value_counts()

en    7569
fr     535
ja     244
de     222
it     219
      ...
qu       1
eu       1
cy       1
kn       1
mt       1
Name: original_language, Length: 64, dtype: int64

In [ ]:
movies = movies[[ 'genres','title','original_language', 'id', 'overview', 'popularity', 'production_companies', 'runtime', 'spoken_languages', 'vote_average', 'vote_count']]

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   genres                9999 non-null   object
 1   title                 9997 non-null   object
 2   original_language     9995 non-null   object
 3   id                    9999 non-null   object
 4   overview              9838 non-null   object
 5   popularity            9997 non-null   float64
 6   production_companies  9998 non-null   object
 7   runtime               9946 non-null   float64
 8   spoken_languages      9997 non-null   object
 9   vote_average          9997 non-null   float64
 10  vote_count            9997 non-null   float64
dtypes: float64(4), object(7)
memory usage: 859.4+ KB

In [ ]:
movies.dropna(inplace = True)

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9832 entries, 0 to 9998
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   genres                9832 non-null   object
 1   title                 9832 non-null   object
 2   original_language     9832 non-null   object
 3   id                    9832 non-null   object
 4   overview              9832 non-null   object
 5   popularity            9832 non-null   float64
 6   production_companies  9832 non-null   object
 7   runtime               9832 non-null   float64
 8   spoken_languages      9832 non-null   object
 9   vote_average          9832 non-null   float64
 10  vote_count            9832 non-null   float64
dtypes: float64(4), object(7)
memory usage: 921.8+ KB

In [ ]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,genres,title,original_language,id,overview,popularity,production_companies,runtime,spoken_languages,vote_average,vote_count
0,"[Action, Comedy, Music, Family, Adventure]",Muppet Treasure Island,en,10874,After telling the story of Flint's last journe...,6.902423,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.5,93.0
1,[Documentary],Catwalk,en,89333,A documentary following Christy Turlington and...,0.976707,[],95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",7.0,2.0
2,[Crime],Headless Body in Topless Bar,en,96357,An ex-con holds a group of people hostage in a...,0.001346,[],110.0,[],0.0,0.0
3,"[Action, Drama, History, War]",Braveheart,en,197,"Enraged at the slaughter of Murron, his new br...",20.755149,"[{'name': 'Icon Entertainment International', ...",177.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",7.7,3404.0
4,"[Crime, Drama]",Taxi Driver,en,103,A mentally unstable Vietnam War veteran works ...,14.092713,"[{'name': 'Columbia Pictures Corporation', 'id...",114.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",8.1,2632.0

In [ ]:
movies['production_companies'] = movies['production_companies'].apply(convert)

In [ ]:
movies['spoken_languages'] = movies['spoken_languages'].apply(convert)

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['overview'] = movies['overview'].apply(lambda x:[i.replace(" ", "") for i in x])
#movies['title'] = movies['title'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['production_companies'] = movies['production_companies'].apply(lambda x:[i.replace(" ", "") for i in x])

In [ ]:
movies['tags'] = movies['genres'] + movies['overview'] + movies['production_companies']

In [ ]:
new_df = movies[['id', 'title', 'tags', 'original_language', 'popularity', 'runtime', 'spoken_languages', 'vote_average', 'vote_count']]
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))
# At every space join x (basically list to string)
new_df.head()
# Apply stemming
import nltk
# library for natural lang processing
from nltk.stem.porter import PorterStemmer
tic=time.perf_counter()
ps = PorterStemmer()
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
# We create a list and we append in the list all the root values of i        
    return " ".join(y)
# Convert list to string
new_df['tags'] = new_df['tags'].apply(stem)
print(new_df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          id                                         title  \
0      10874                        Muppet Treasure Island
1      89333                                       Catwalk
2      96357                  Headless Body in Topless Bar
3        197                                    Braveheart
4        103                                   Taxi Driver
...      ...                                           ...
9994   61656                          Meet Prince Charming
9995   58106                             The Boy Next Door
9996   44848  The Decline of Western Civilization Part III
9997  175005                                 The Grim Game
9998   20381             The Hitcher II: I've Been Waiting

                                                   tags original_language  \
0     action comedi music famili adventur after tell...                en
1     documentari A documentari follow christi turli...                en
2     crime An ex-con hold a group of peopl hostag i...                en
3     action drama histori war enrag at the slaughte...                en
4     crime drama A mental unstabl vietnam war veter...                en
...                                                 ...               ...
9994  jonathan 'jack' harri is a waiter, who hope to...                en
9995  crime mysteri thriller A novelist (dina meyer)...                en
9996  documentari the declin of western civil iii is...                en
9997  adventur drama jail unjustli for a murder he d...                en
9998  action thriller A sadist serial killer terror ...                en

      popularity  runtime               spoken_languages  vote_average  \
0       6.902423    100.0                      [English]           6.5
1       0.976707     95.0                      [English]           7.0
2       0.001346    110.0                             []           0.0
3      20.755149    177.0  [English, FranÃ§ais, Latin, ]           7.7
4      14.092713    114.0            [English, EspaÃ±ol]           8.1
...          ...      ...                            ...           ...
9994    0.406123     94.0                             []           5.0
9995    0.675401      0.0                      [English]           5.3
9996    0.836602     86.0                      [English]           6.6
9997    0.078576     71.0                             []           0.0
9998    3.617635     93.0                      [English]           4.3

      vote_count
0           93.0
1            2.0
2            0.0
3         3404.0
4         2632.0
...          ...
9994         3.0
9995        10.0
9996         8.0
9997         0.0
9998        19.0

[9832 rows x 9 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
# we import this with two hyperparameters max_features and stop_words
cv = CountVectorizer(max_features = 5000, stop_words = 'english')
vectors = cv.fit_transform(new_df['tags']).toarray()
# convert new_df tags to numpy array

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vectors)
toc=time.perf_counter()

In [ ]:
similarity[1]

array([0.        , 1.        , 0.        , ..., 0.12712321, 0.        ,
       0.        ])

In [ ]:
if similarity.size != 0:
    print('no error')
else :
    print('error')

no error

In [ ]:
sorted((enumerate(similarity[100])), reverse = True, key = lambda x:x[1])[1:6]
# sorting on the basis of similarity with movie of index position 0.
# reversed
# enumerate to grab the index position while sorting and convert to list (converted to list of tuples)
# lambda for sorting on basis of second number.

[(6113, 0.271539426475639),
 (3090, 0.23249527748763854),
 (4832, 0.22360679774997894),
 (6938, 0.22225022225033336),
 (2936, 0.22097086912079608)]

In [ ]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
# this fetches the index position of the movie which is chosen by the user
    distance = similarity[movie_index]
# goes to in 14
    movies_list = sorted((enumerate(distance)), reverse = True, key = lambda x:x[1])[1:6]
# Sort the distances goes to in 15  
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [ ]:
t1=time.perf_counter()
recommend('Happiness Is in the Field')
t2=time.perf_counter()

I'm Staying
Odd Obsession
The Snows of Kilimanjaro
The Box
Presumed Guilty

In [ ]:
pred_time=tic-toc
pred_time

-35.09707224099998

In [ ]:
pred=t2-t1
pred

0.017211943000006613